body {
  font-family: Helvetica_Regular,Arial,sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-bg {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.hero {
  height: 100vh;
  padding: 0;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.hero.-full {
  padding: 0;
}

.hero > div:first-child {
  height: 100%;
}

iframe {
  pointer-events: none;
  position: absolute;
  top: -60px !important;
  left: 0;
  height: calc(100% + 120px);
}

.login form{
  width: 300px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  z-index: 1;
  margin-top: 300px;
  margin-bottom: 500px;
}

.pay.container{
  margin: 0 auto;
  text-align: left;
  position: relative;
  z-index: 1;
  margin-top: 300px;
  margin-bottom: 500px;
}


.l-pay-col {
  flex-direction: column;
  gap: 40px;
  display: flex;
  flex: 7;
}

.pay_detail {
  flex: 3;
}

.carousel.slide {
  text-align: center;
}

.carousel-control-prev-icon {
  filter: invert(1) grayscale(100);
}

.carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}

.carousel-indicators > button {
  filter: invert(1) grayscale(100);
}

.carousel-text {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
}

.pay-wrap {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.pay-header {
  width: 100%;
  flex: 5;
}

.all.row {
  gap: 2px;
}

.col-lg-3 {
  margin-bottom: 200px;
  width: calc(25% - 2px) !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.col-lg-3 > div > img{
  width: 100%;
}


.hero.-full>.main-video {
  aspect-ratio: auto;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.main-title {
  font-weight: bold;
}

.hero>.title {
  color: #fff;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.bold {
  font-family: Helvetica_Bold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1em;
}

@media(min-width: 1025px) {
  .hero>.title>h1 {
    font-size: 22.566px;
  }
}

.row {
  justify-content: center;
}

.col-md-3 {
  padding-left: 0 !important;
  padding-right: calc(var(--bs-gutter-x)* .1) !important;
}


.section:nth-of-type(n+2) {
  margin-top: 200px;
}

.section:nth-of-type(1) {
  margin-top: 800px;
}

.section:nth-last-child(2) {
  margin-top: 3px;
}

.section:nth-last-child(1) {
  margin-bottom: 200px;
}

@media(min-width: 1025px) {
  .Goods {
    max-width: 240px !important;
  }

  .row:has(.Goods) {
    gap: 0 3px;
  }

  .Model {
    max-width: 505px !important;
  }
}



.coupon {
  border: 1px solid;
  width: 150px;
  margin: 0 auto;
}

.coupon dt {
  border-bottom: 1px solid;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 2s;
}

/* Footer */
.footer {
  text-align: left;
}

.footer ul {
  list-style: none;
}

.footer p, ul {
  margin: 0;
  padding: 0;
}

.footer a {
  text-decoration-line: none;
  color: black;
}

.l-site--homepage .c-video__cover img.u-ratio--16-9 {
  padding-top: 0;
}
@media (max-width: 47.99em) {
  .l-site--homepage .c-video__img.u-fullscreen@md {
  width: auto;
  max-width: none;
}
}

@media (min-width: 64em) {
  .c-backtotop {
    display: none;
    border: none;
    margin: auto;
    max-width: calc(100% - 25.625rem);
    padding: 0;
  }
}

@media (min-width: 48em) {
  .c-backtotop {
    font-size: .6875rem;
  }
}

.c-backtotop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: .6875rem;
  padding: 1.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 3.3125rem;
  line-height: .8125rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.c-backtotop__content {
  width: 100%;
}

@media (min-width: 64em) {
  .c-backtotop__iconlink {
    display: inline-block;
    width: auto;
  }
}

.c-backtotop__iconlink {
  background-color: #fff;
  border: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  padding: 0;
  line-height: .8125rem;
}

@media (min-width: 64em) {
  .c-backtotop__text {
    text-decoration: underline;
  }
}

@media (min-width: 64em) {
  .c-icon--longarrow-up {
    display: none;
  }
}

@media (min-width: 64em) {
  .l-footer__wrapper--light {
    border-top: 1px solid #eee;
  }
}

.l-footer__wrapper--light {
  background-color: #fff;
  color: #000;
}

@media (min-width: 64em) {
  .l-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.25rem;
    margin: 0 !important;
  }
}

@media (min-width: 90em) {
  .l-footer__wrapper {
    padding: 1.875rem;
  }
}

@media (min-width: 48em) {
  .l-footer__wrapper {
    font-size: .6875rem;
  }
}

.l-footer__wrapper {
  margin: 0 5rem;
  font-size: .6875rem;
  line-height: .8125rem;
  text-transform: uppercase;
  position: relative;
}

.l-footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 90em) {
  .l-footer__section {
    -webkit-box-flex: 1;
    -ms-flex: 1 20%;
    flex: 1 20%;
  }
}

@media (min-width: 64em) {
  .c-storechoice__label {
    display: block;
  }
}

.l-footer__wrapper--light a {
  color: #000;
}

.u-sronly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

@media (min-width: 48em) {
  .u-hidden-from\@md {
    display: none !important;
  }
}

.l-footer__wrapper .c-icon {
  padding-left: .59375rem;
}

.c-storechoice__content--language {
  margin-top: .6875rem;
}

@media (min-width: 64em) {
  .c-storechoice__label {
    display: block;
  }
}

.l-footer__wrapper--light a {
  color: #000;
}

.l-footer__section--clientservice ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.l-footer__title {
  display: none;
  white-space: nowrap;
}

@media (min-width: 64em) {
  .l-footer__networks .content-asset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (min-width: 64em) {
  .c-networks__link {
    display: inline-block;
  }
}

.c-networks__link {
  color: #000;
  font-size: .6875rem;
  line-height: .8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 .9375rem;
}

.c-networks__link img {
  height: .9375rem;
}

@media (min-width: 64em) {
  .u-hidden-from\@lg {
    display: none !important;
  }
}

.c-newsletter__subscribelink {
  color: unset;
  -webkit-appearance: none;
  border: 0;
  text-transform: inherit;
  background: none;
  width: auto;
  height: auto;
  padding: 0;
}

.l-footer__wrapper .c-icon {
  padding-left: .59375rem;
}

@media (min-width: 64em) {
  .c-popin.c-popin--newslettersubscribe {
    min-width: 21.25rem;
    overflow: auto;
  }
}

@media (min-width: 64em) {
  .c-deliverypopin, .c-popin--applepayterms, .c-popin--backinstock, .c-popin--bookappointment, .c-popin--countryselector, .c-popin--exchangestoreunavailable, .c-popin--findinstore, .c-popin--locale, .c-popin--minicart, .c-popin--mixbasket, .c-popin--newslettersubscribe, .c-popin--otherstyles, .c-popin--personalizationError, .c-popin--quantitylimitreach, .c-popin--quickview, .c-popin--quotaemployee, .c-popin--returnitems, .c-popin--returnorexchangemethods, .c-popin--returnorexchangeoutofstock, .c-popin--shippingerror, .c-popin--shippingnotavailable, .c-popin--sizeguide, .c-popin--topsearch, .c-popin--voc, .c-privacypolicypopin__popin {
    width: 30vw;
    padding-top: 0;
    z-index: 1021;
  }
}

@media (min-width: 48em) {
  .c-deliverypopin, .c-popin--applepayterms, .c-popin--backinstock, .c-popin--bookappointment, .c-popin--countryselector, .c-popin--exchangestoreunavailable, .c-popin--findinstore, .c-popin--locale, .c-popin--minicart, .c-popin--mixbasket, .c-popin--newslettersubscribe, .c-popin--otherstyles, .c-popin--personalizationError, .c-popin--quantitylimitreach, .c-popin--quickview, .c-popin--quotaemployee, .c-popin--returnitems, .c-popin--returnorexchangemethods, .c-popin--returnorexchangeoutofstock, .c-popin--shippingerror, .c-popin--shippingnotavailable, .c-popin--sizeguide, .c-popin--topsearch, .c-popin--voc, .c-privacypolicypopin__popin {
    min-width: unset;
    left: auto;
  }
}

.c-deliverypopin, .c-popin--applepayterms, .c-popin--backinstock, .c-popin--bookappointment, .c-popin--countryselector, .c-popin--exchangestoreunavailable, .c-popin--findinstore, .c-popin--locale, .c-popin--minicart, .c-popin--mixbasket, .c-popin--newslettersubscribe, .c-popin--otherstyles, .c-popin--personalizationError, .c-popin--quantitylimitreach, .c-popin--quickview, .c-popin--quotaemployee, .c-popin--returnitems, .c-popin--returnorexchangemethods, .c-popin--returnorexchangeoutofstock, .c-popin--shippingerror, .c-popin--shippingnotavailable, .c-popin--sizeguide, .c-popin--topsearch, .c-popin--voc, .c-privacypolicypopin__popin {
  width: 100%;
  -webkit-transform: translateX(110%);
  transform: translateX(110%);
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  padding-top: 3.5rem;
  z-index: 1011;
  position: fixed;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 48em) {
  .c-popin {
    width: 18.75rem;
  }
}

.c-popin, .c-popin [role=document] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.c-popin {
  padding: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  position: fixed;
  top: auto;
  left: auto;
  right: auto;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
  opacity: 0;
  -webkit-transition: opacity .1s, -webkit-transform 0;
  transition: opacity .1s, -webkit-transform 0;
  transition: opacity .1s, transform 0;
  transition: opacity .1s, transform 0, -webkit-transform 0;
  min-height: auto;
  width: calc(100% - 2rem);
  min-width: 0;
  visibility: hidden;
}

@media (min-width: 48em) {
  [role=alertdialog], [role=dialog] {
    position: absolute;
    top: 2rem;
    left: 50%;
    /* -webkit-transform: translateX(-50%); */
    /* transform: translateX(-50%); */
    min-width: 610px;
    min-height: auto;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, .12), 0 15px 12px rgba(0, 0, 0, .22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, .12), 0 15px 12px rgba(0, 0, 0, .22);
  }
}

[role=alertdialog], [role=dialog] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #000;
  background-color: #fff;
  min-height: 100vh;
}

.c-popin [role=document] {
  height: 100%;
}

.c-popin, .c-popin [role=document] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.c-deliverypopin .c-popin__title, .c-popin--applepayterms .c-popin__title, .c-popin--backinstock .c-popin__title, .c-popin--bookappointment .c-popin__title, .c-popin--countryselector .c-popin__title, .c-popin--exchangestoreunavailable .c-popin__title, .c-popin--findinstore .c-popin__title, .c-popin--locale .c-popin__title, .c-popin--minicart .c-popin__title, .c-popin--mixbasket .c-popin__title, .c-popin--newslettersubscribe .c-popin__title, .c-popin--otherstyles .c-popin__title, .c-popin--personalizationError .c-popin__title, .c-popin--quantitylimitreach .c-popin__title, .c-popin--quickview .c-popin__title, .c-popin--quotaemployee .c-popin__title, .c-popin--returnitems .c-popin__title, .c-popin--returnorexchangemethods .c-popin__title, .c-popin--returnorexchangeoutofstock .c-popin__title, .c-popin--shippingerror .c-popin__title, .c-popin--shippingnotavailable .c-popin__title, .c-popin--sizeguide .c-popin__title, .c-popin--topsearch .c-popin__title, .c-popin--voc .c-popin__title, .c-privacypolicypopin__popin .c-popin__title {
  font-size: .875rem;
  line-height: .9375rem;
}

.c-popin__title {
  font-size: .6875rem;
  font-family: Helvetica_Bold, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.c-deliverypopin [data-element=closebtn], .c-popin--applepayterms [data-element=closebtn], .c-popin--backinstock [data-element=closebtn], .c-popin--bookappointment [data-element=closebtn], .c-popin--countryselector [data-element=closebtn], .c-popin--exchangestoreunavailable [data-element=closebtn], .c-popin--findinstore [data-element=closebtn], .c-popin--locale [data-element=closebtn], .c-popin--minicart [data-element=closebtn], .c-popin--mixbasket [data-element=closebtn], .c-popin--newslettersubscribe [data-element=closebtn], .c-popin--otherstyles [data-element=closebtn], .c-popin--personalizationError [data-element=closebtn], .c-popin--quantitylimitreach [data-element=closebtn], .c-popin--quickview .c-product__close360, .c-popin--quickview [data-element=closebtn], .c-popin--quotaemployee [data-element=closebtn], .c-popin--returnitems [data-element=closebtn], .c-popin--returnorexchangemethods [data-element=closebtn], .c-popin--returnorexchangeoutofstock [data-element=closebtn], .c-popin--shippingerror [data-element=closebtn], .c-popin--shippingnotavailable [data-element=closebtn], .c-popin--sizeguide [data-element=closebtn], .c-popin--topsearch [data-element=closebtn], .c-popin--voc [data-element=closebtn], .c-privacypolicypopin__popin [data-element=closebtn] {
  top: .3125rem;
  right: .3125rem;
  padding: .9375rem;
  margin-top: -.3125rem;
  height: 2.625rem;
  width: 2.625rem;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

.c-popin--quickview .c-product__close360, [data-element=closebtn] {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  border: none;
  background: none;
  cursor: pointer;
}

.u-visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

@media (min-width: 64em) {
  .c-deliverypopin .c-popin__content, .c-popin--applepayterms .c-popin__content, .c-popin--backinstock .c-popin__content, .c-popin--bookappointment .c-popin__content, .c-popin--countryselector .c-popin__content, .c-popin--exchangestoreunavailable .c-popin__content, .c-popin--findinstore .c-popin__content, .c-popin--locale .c-popin__content, .c-popin--minicart .c-popin__content, .c-popin--mixbasket .c-popin__content, .c-popin--newslettersubscribe .c-popin__content, .c-popin--otherstyles .c-popin__content, .c-popin--personalizationError .c-popin__content, .c-popin--quantitylimitreach .c-popin__content, .c-popin--quickview .c-popin__content, .c-popin--quotaemployee .c-popin__content, .c-popin--returnitems .c-popin__content, .c-popin--returnorexchangemethods .c-popin__content, .c-popin--returnorexchangeoutofstock .c-popin__content, .c-popin--shippingerror .c-popin__content, .c-popin--shippingnotavailable .c-popin__content, .c-popin--sizeguide .c-popin__content, .c-popin--topsearch .c-popin__content, .c-popin--voc .c-popin__content, .c-privacypolicypopin__popin .c-popin__content {
    padding: 0 1.25rem 1.25rem;
  }
}

.c-deliverypopin .c-popin__content, .c-popin--applepayterms .c-popin__content, .c-popin--backinstock .c-popin__content, .c-popin--bookappointment .c-popin__content, .c-popin--countryselector .c-popin__content, .c-popin--exchangestoreunavailable .c-popin__content, .c-popin--findinstore .c-popin__content, .c-popin--locale .c-popin__content, .c-popin--minicart .c-popin__content, .c-popin--mixbasket .c-popin__content, .c-popin--newslettersubscribe .c-popin__content, .c-popin--otherstyles .c-popin__content, .c-popin--personalizationError .c-popin__content, .c-popin--quantitylimitreach .c-popin__content, .c-popin--quickview .c-popin__content, .c-popin--quotaemployee .c-popin__content, .c-popin--returnitems .c-popin__content, .c-popin--returnorexchangemethods .c-popin__content, .c-popin--returnorexchangeoutofstock .c-popin__content, .c-popin--shippingerror .c-popin__content, .c-popin--shippingnotavailable .c-popin__content, .c-popin--sizeguide .c-popin__content, .c-popin--topsearch .c-popin__content, .c-popin--voc .c-popin__content, .c-privacypolicypopin__popin .c-popin__content {
  padding: 0 1.25rem 2.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}

.c-popin__content {
  padding: 0 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 64em) {
  .l-footer__section--appredirection {
    display: none;
  }
}

.l-footer__section--appredirection .l-footer__appredirection span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.c-redirection__item {
  display: inline-block;
  position: relative;
  bottom: -.375rem;
  margin: 0 .9375rem;
  height: .6875rem;
}

.c-redirection__item img {
  display: block;
  height: 100%;
  aspect-ratio: 10 / 12;
}

.c-redirection__item:last-child {
  margin-right: 0;
}

@media (min-width: 64em) {
  [data-context=FOOTER] .c-apacmessage {
    padding: 0;
    font-size: .6875rem;
    border: none;
  }
}

.c-apacmessage {
  font-size: .6875rem;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  padding: .8125rem 0;
}

.c-footerspecific {
  position: relative;
}

@media (min-width: 48em) {
  .c-footerspecific .content-asset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.c-footerspecific .content-asset {
  font-size: .6875rem;
  line-height: .6875rem;
  padding: 1.25rem;
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .c-footerspecific__block:first-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 0;
  }
}

.c-footerspecific__block:first-child {
  padding-bottom: 1.25rem;
}

.c-countryselector {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  position: fixed;
}

.c-countryselector, .c-popin--countryselector, .c-popin--otherstyles {
  overflow: hidden;
}

.c-countryselector__close {
  top: .625rem;
}

.c-popin--quickview .c-product__close360, [data-element=closebtn] {
  top: .3125rem;
  right: .3125rem;
  padding: .9375rem;
  height: 2.4375rem;
  width: 2.4375rem;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

.u-visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

@media (min-width: 64em) {
  .l-header__logo {
    width: 12.8125rem;
  }
}

@media (min-width: 48em) {
  .l-header__logo {
    width: 12rem;
  }
}

.l-header__logo {
  display: block;
  width: 12rem;
}

.l-header__logo .l-header__link {
  display: block;
}

.c-countryselector__logo a {
  color: #fff;
}

.c-countryselector__logo a img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.l-header__logo img {
  display: block;
  padding: 1.25rem;
  width: 100%;
}

@media (min-width: 64em) {
  .c-popin__head {
    padding: 1.25rem 1.25rem .6875rem;
  }
}

.c-popin__head {
  padding: 4rem 1.25rem .6875rem;
}

@media (min-width: 64em) {
  .c-countryselector__title {
    width: 66%;
    margin: 0 auto;
  }
}

.c-countryselector__title {
  font-size: .875rem;
  font-family: Helvetica_Bold, Arial, sans-serif;
  font-weight: 700;
  line-height: .9375rem;
  text-transform: uppercase;
}

@media (min-width: 64em) {
  .c-countryselector__wrapper {
    max-height: calc(100vh - 3.5rem);
  }
}

@media (min-width: 48em) {
  .c-countryselector__wrapper {
    padding-top: .625rem;
  }
}

.c-countryselector__wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.25rem;
  overflow: auto;
  max-height: calc(100vh - 6.0625rem);
}

.c-popin__content {
  padding: 0 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 64em) {
  .c-countryselector__innercontent {
    width: 66%;
  }
}

.c-countryselector__innercontent {
  width: 100%;
}

@media (min-width: 48em) {
  .c-popin__innercontent {
    font-size: .6875rem;
  }
}

.c-popin__innercontent {
  font-size: .6875rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

@media (min-width: 48em) {
  .c-countryselector__message {
    max-width: 60%;
    font-size: .6875rem;
  }
}

.c-countryselector__message {
  font-size: .6875rem;
  line-height: .6875rem;
  margin-bottom: 1.0625rem;
}

@media (min-width: 48em) {
  .c-countryselector__countries {
    font-size: .6875rem;
    height: 20rem;
    margin-bottom: 0;
  }
}

.c-countryselector__countries {
  width: auto;
  font-size: .6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1.9375rem;
}

.c-countryselector__selectlabel {
  font-family: Helvetica_Bold, Arial, sans-serif;
  font-weight: 700;
  margin-top: 1.1875rem;
}

.c-countryselector__select {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF8AAAAuCAYAAABOMsWRAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAACB0lEQVR4Xu2UDW7DIAyFe58ddofZAbO+KiCHPDUhBmMSW/rU9RUb/LfXsizBIKgY2EDFwAYqrvy8+V0/2e/BMV9ruBNWcPjvDQyf0YB6Dmu4+SJAt6TBObbgHKgRapUKnwza5uzmy4rsWGm0g0GmqnbSMVFOfWkIEluwBbVg017apgEsyFGAZLtOPpSamsHyvx9NEBjOP3ULkPOZaS8tD60MhkBX7WlNuDKo0j7T3zIgLHf1piC3K9MuLdeoV/C7bUGXupSXJHBAcxEM/ndoQLdabL4U4PCTt6B7/juBAEfNA2Dwn6kBJjlTkYAgT9gC0zyp+AUE1DwMBn+PDTDPjYoHIPidtmBYPlQ8CS7SPBgG/5ENGJoDFSvApTNugYt3U/ECrZKxaADu0LwT1uStVFSgTQy+vbYAMYdPu4SKSlol2bIBiOWm6AkqNsJDwvD1NggZKjZkZPLw0d7bfNolVOyAZSFwxu20S6jYCYui4Ddt/K7TLqFiZ3oUCH9PMe0SKhrQslhAG8ds2iVUNKRF4bT+5kVPUNEYJK/dglrDXUOmXULFQWi34KwNnXYJFQfScwtcTLuEig5ovQVupl1CRSe02AJ30y6hojOuboHLaZdQ0SE1W+B62iVUdMxRE9xPu4SKE4ACywZMM+0SKk5C2oLpip6gYmADFQMbqBjYQMXABioGFiyvfxGlsG9B1tUaAAAAAElFTkSuQmCC);
  background-color: #000;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: .6875rem;
  line-height: .6875rem;
  background-repeat: no-repeat;
  background-position: calc(100% - .125rem) 50%;
  background-size: .625rem;
}

@media (min-width: 48em) {
  .c-form__select {
    font-size: .6875rem;
  }
}

.c-form__select {
  display: block;
  width: 100%;
  font-size: .6875rem;
  line-height: .6875rem;
  text-transform: uppercase;
  height: 1.4375rem;
  line-height: 1.25rem;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOS4wOSAxTDQuNTQ1IDQuNTkgMCAxIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iLjgiIGZpbGw9Im5vbmUiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: .5rem;
  border: none;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  padding: .1875rem .9375rem .1875rem .1875rem;
  margin: -.1875rem 0 0;
  color: #000;
}

.c-countryselector__notice {
  margin-bottom: .625rem;
}

/* footer 끝 */

/*  header 시작 */


@media (min-width: 64em) {
  .l-header__nav {
    z-index: 1010;
    max-width: 12.125rem;
    font-family: Helvetica_Regular, Arial, sans-serif;
    font-size: 11px;
  }
}

.l-header__nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1012;
  max-width: 100%;
  scrollbar-width: thin;
  scrollbar-color: #c3c3c3 transparent;
}

.l_header__nav ul {
  list-style-type: none;
}

.l-header__nav a {
  text-decoration: none;
}

.l-header__nav dl {
  list-style-type: none;
}

@media (min-width: 64em) {
  .l-header--whitedesktop .c-nav__wrapper, .l-header--whitedesktop .l-header__aside, .l-header--whitedesktop .l-header__logo {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}

@media (min-width: 64em) {
  .l-header--mixcontent .c-nav__wrapper, .l-header--mixcontent .l-header__aside, .l-header--mixcontent .l-header__logo {
    -webkit-transition: -webkit-filter .4s ease-in-out;
    transition: -webkit-filter .4s ease-in-out;
    transition: filter .4s ease-in-out;
    transition: filter .4s ease-in-out, -webkit-filter .4s ease-in-out;
    will-change: transform;
  }
}

@media (min-width: 64em) {
  .l-header__logo {
    width: 12.8125rem;
    font-size: 20px;
  }
}

@media (min-width: 48em) {
  .l-header__logo {
    width: 12rem;
  }
}

.l-header__logo {
  display: block;
  width: 12rem;
  font-weight: 700;
  margin-bottom: 10px;
}


.l-header__logo img {
  display: block;
  padding: 1.25rem;
  width: 100%;
}

.l-header__navcontainer {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #c3c3c3 transparent;
  width: 12.8125rem;
}

.l-header__navcontainer button {
  color: white;
  font-weight: 100;
}

@media (min-width: 64em) {
  .l-header--whitedesktop .c-nav__wrapper, .l-header--whitedesktop .l-header__aside, .l-header--whitedesktop .l-header__logo {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}

@media (min-width: 64em) {
  .l-header--mixcontent .c-nav__wrapper, .l-header--mixcontent .l-header__aside, .l-header--mixcontent .l-header__logo {
    -webkit-transition: -webkit-filter .4s ease-in-out;
    transition: -webkit-filter .4s ease-in-out;
    transition: filter .4s ease-in-out;
    transition: filter .4s ease-in-out, -webkit-filter .4s ease-in-out;
    will-change: transform;
  }
}

@media (min-width: 64em) {
  .l-header__aside {
    width: auto;
    display: block;
    height: auto;
    background-color: transparent;
  }
}

.l-header__aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  z-index: 1009;
  background-color: #fff;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

@media (min-width: 64em) {
  .l-header__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 1.25rem 1.25rem 0;
  }
}

.l-header__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 .8125rem 0 0;
  font-size: .6875rem;
  line-height: .6875rem;
  text-transform: uppercase;
}

@media (min-width: 64em) {
  .c-deliverypopin, .c-popin--applepayterms, .c-popin--backinstock, .c-popin--bookappointment, .c-popin--countryselector, .c-popin--exchangestoreunavailable, .c-popin--findinstore, .c-popin--locale, .c-popin--minicart, .c-popin--mixbasket, .c-popin--newslettersubscribe, .c-popin--otherstyles, .c-popin--personalizationError, .c-popin--quantitylimitreach, .c-popin--quickview, .c-popin--quotaemployee, .c-popin--returnitems, .c-popin--returnorexchangemethods, .c-popin--returnorexchangeoutofstock, .c-popin--shippingerror, .c-popin--shippingnotavailable, .c-popin--sizeguide, .c-popin--topsearch, .c-popin--voc, .c-privacypolicypopin__popin {
    width: 30vw;
    padding-top: 0;
    z-index: 1021;
  }
}

@media (min-width: 48em) {
  .c-deliverypopin, .c-popin--applepayterms, .c-popin--backinstock, .c-popin--bookappointment, .c-popin--countryselector, .c-popin--exchangestoreunavailable, .c-popin--findinstore, .c-popin--locale, .c-popin--minicart, .c-popin--mixbasket, .c-popin--newslettersubscribe, .c-popin--otherstyles, .c-popin--personalizationError, .c-popin--quantitylimitreach, .c-popin--quickview, .c-popin--quotaemployee, .c-popin--returnitems, .c-popin--returnorexchangemethods, .c-popin--returnorexchangeoutofstock, .c-popin--shippingerror, .c-popin--shippingnotavailable, .c-popin--sizeguide, .c-popin--topsearch, .c-popin--voc, .c-privacypolicypopin__popin {
    min-width: unset;
    left: auto;
  }
}

.c-deliverypopin, .c-popin--applepayterms, .c-popin--backinstock, .c-popin--bookappointment, .c-popin--countryselector, .c-popin--exchangestoreunavailable, .c-popin--findinstore, .c-popin--locale, .c-popin--minicart, .c-popin--mixbasket, .c-popin--newslettersubscribe, .c-popin--otherstyles, .c-popin--personalizationError, .c-popin--quantitylimitreach, .c-popin--quickview, .c-popin--quotaemployee, .c-popin--returnitems, .c-popin--returnorexchangemethods, .c-popin--returnorexchangeoutofstock, .c-popin--shippingerror, .c-popin--shippingnotavailable, .c-popin--sizeguide, .c-popin--topsearch, .c-popin--voc, .c-privacypolicypopin__popin {
  width: 100%;
  -webkit-transform: translateX(110%);
  transform: translateX(110%);
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  padding-top: 3.5rem;
  z-index: 1011;
  position: fixed;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
}

.c-topsearch__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 48em) {
  .c-topsearch__result {
    margin-right: 2.5rem;
  }
}

.c-topsearch__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #979797;
}

@media (min-width: 48em) {
  .c-form__input, .c-oktalogin #okta-sign-in .o-form-content .o-form-fieldset input[type=password], .c-oktalogin #okta-sign-in .o-form-content .o-form-fieldset input[type=text] {
    font-size: .6875rem;
  }
}

.c-form__input, .c-oktalogin #okta-sign-in .o-form-content .o-form-fieldset input[type=password], .c-oktalogin #okta-sign-in .o-form-content .o-form-fieldset input[type=text] {
  display: block;
  width: 100%;
  padding: .3125rem 0 .1875rem;
  font-size: .6875rem;
  line-height: .6875rem;
  text-transform: uppercase;
  height: 1.25rem;
  color: #000;
  background: #fff;
  border: 0;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.c-topsearch__clear {
  font-size: .6875rem;
  border: none;
  border-radius: 50%;
  display: block;
  margin: -.8125rem 0 -.5rem;
  padding: .9375rem 0;
  background-color: transparent;
}

.c-button--primary, .c-oktalogin #okta-sign-in .c-popin--mixbasket .c-popin__actions .c-socialloginapple.link-button, .c-oktalogin #okta-sign-in .c-popin--mixbasket .c-popin__actions .c-sociallogingoogle.link-button, .c-oktalogin #okta-sign-in .c-popin--mixbasket .c-popin__actions .c-socialloginkakao.link-button, .c-oktalogin #okta-sign-in .c-socialloginapple.link-button, .c-oktalogin #okta-sign-in .c-sociallogingoogle.link-button, .c-oktalogin #okta-sign-in .c-socialloginkakao.link-button, .c-oktalogin #okta-sign-in .o-form-button-bar .button.button-primary, .c-oktalogin #okta-sign-in .o-form-button-bar .c-popin--mixbasket .c-popin__actions .button.button-primary, .c-popin--mixbasket .c-popin__actions .c-addresscta__link--cancel, .c-popin--mixbasket .c-popin__actions .c-button, .c-popin--mixbasket .c-popin__actions .c-loadmore__btn, .c-popin--mixbasket .c-popin__actions .c-loadmore__filters, .c-popin--mixbasket .c-popin__actions .c-loadmoreauto__loading, .c-popin--mixbasket .c-popin__actions .c-oktalogin #okta-sign-in .c-socialloginapple.link-button, .c-popin--mixbasket .c-popin__actions .c-oktalogin #okta-sign-in .c-sociallogingoogle.link-button, .c-popin--mixbasket .c-popin__actions .c-oktalogin #okta-sign-in .c-socialloginkakao.link-button, .c-popin--mixbasket .c-popin__actions .c-oktalogin #okta-sign-in .o-form-button-bar .button.button-primary, .c-popin--mixbasket .c-popin__actions .c-search__filtersitem, .c-popin--mixbasket .c-popin__actions .c-storelocator__choosebtn, .c-storelocator__choosebtn, [data-context=BAA] .c-store .c-store__reservecta, [data-context=FIS] .c-store .c-store__reservecta {
  background-color: #000;
  border: 1px solid #000;
  font-family: Helvetica_Bold, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .c-addresscta__link--cancel, .c-button, .c-loadmore__btn, .c-loadmore__filters, .c-loadmoreauto__loading, .c-oktalogin #okta-sign-in .c-popin--mixbasket .c-popin__actions .c-socialloginapple.link-button, .c-oktalogin #okta-sign-in .c-popin--mixbasket .c-popin__actions .c-sociallogingoogle.link-button, .c-oktalogin #okta-sign-in .c-popin--mixbasket .c-popin__actions .c-socialloginkakao.link-button, .c-oktalogin #okta-sign-in .c-socialloginapple.link-button, .c-oktalogin #okta-sign-in .c-sociallogingoogle.link-button, .c-oktalogin #okta-sign-in .c-socialloginkakao.link-button, .c-oktalogin #okta-sign-in .o-form-button-bar .button.button-primary, .c-oktalogin #okta-sign-in .o-form-button-bar .c-popin--mixbasket .c-popin__actions .button.button-primary, .c-popin--mixbasket .c-popin__actions .c-addresscta__link--cancel, .c-popin--mixbasket .c-popin__actions .c-button, .c-popin--mixbasket .c-popin__actions .c-loadmore__btn, .c-popin--mixbasket .c-popin__actions .c-loadmore__filters, .c-popin--mixbasket .c-popin__actions .c-loadmoreauto__loading, .c-popin--mixbasket .c-popin__actions .c-oktalogin #okta-sign-in .c-socialloginapple.link-button, .c-popin--mixbasket .c-popin__actions .c-oktalogin #okta-sign-in .c-sociallogingoogle.link-button, .c-popin--mixbasket .c-popin__actions .c-oktalogin #okta-sign-in .c-socialloginkakao.link-button, .c-popin--mixbasket .c-popin__actions .c-oktalogin #okta-sign-in .o-form-button-bar .button.button-primary, .c-popin--mixbasket .c-popin__actions .c-search__filtersitem, .c-popin--mixbasket .c-popin__actions .c-storelocator__choosebtn, .c-search__filtersitem, .c-storelocator__choosebtn, [data-context=BAA] .c-store .c-store__reservecta, [data-context=FIS] .c-store .c-store__reservecta {
    min-height: 1.375rem;
    font-size: .6875rem;
  }
}

.c-addresscta__link--cancel, .c-button, .c-loadmore__btn, .c-loadmore__filters, .c-loadmoreauto__loading, .c-oktalogin #okta-sign-in .c-popin--mixbasket .c-popin__actions .c-socialloginapple.link-button, .c-oktalogin #okta-sign-in .c-popin--mixbasket .c-popin__actions .c-sociallogingoogle.link-button, .c-oktalogin #okta-sign-in .c-popin--mixbasket .c-popin__actions .c-socialloginkakao.link-button, .c-oktalogin #okta-sign-in .c-socialloginapple.link-button, .c-oktalogin #okta-sign-in .c-sociallogingoogle.link-button, .c-oktalogin #okta-sign-in .c-socialloginkakao.link-button, .c-oktalogin #okta-sign-in .o-form-button-bar .button.button-primary, .c-oktalogin #okta-sign-in .o-form-button-bar .c-popin--mixbasket .c-popin__actions .button.button-primary, .c-popin--mixbasket .c-popin__actions .c-addresscta__link--cancel, .c-popin--mixbasket .c-popin__actions .c-button, .c-popin--mixbasket .c-popin__actions .c-loadmore__btn, .c-popin--mixbasket .c-popin__actions .c-loadmore__filters, .c-popin--mixbasket .c-popin__actions .c-loadmoreauto__loading, .c-popin--mixbasket .c-popin__actions .c-oktalogin #okta-sign-in .c-socialloginapple.link-button, .c-popin--mixbasket .c-popin__actions .c-oktalogin #okta-sign-in .c-sociallogingoogle.link-button, .c-popin--mixbasket .c-popin__actions .c-oktalogin #okta-sign-in .c-socialloginkakao.link-button, .c-popin--mixbasket .c-popin__actions .c-oktalogin #okta-sign-in .o-form-button-bar .button.button-primary, .c-popin--mixbasket .c-popin__actions .c-search__filtersitem, .c-popin--mixbasket .c-popin__actions .c-storelocator__choosebtn, .c-search__filtersitem, .c-storelocator__choosebtn, [data-context=BAA] .c-store .c-store__reservecta, [data-context=FIS] .c-store .c-store__reservecta {
  line-height: inherit;
  font-family: Helvetica_Regular, Arial, sans-serif;
  font-size: .6875rem;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1.5625rem;
  padding: .125rem 1.25rem 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color .25s ease, border-color .25s ease, color .25s ease;
  transition: background-color .25s ease, border-color .25s ease, color .25s ease;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  text-decoration: none;
  color: #fff;
  border: 1px solid #434a54;
  border-radius: 0;
  background: #656d78;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.l-pdp__delivery[data-employeeproduct=true], .l-pdp__findinstore[data-employeeproduct=true], .u-hidden {
  display: none !important;
}

.l-header__navcontainer button {
  border: 0;
  background-color: transparent;
}

.l-header__nav li{
  list-style-type: none;
}

.right-nav {
  margin: 30px;
}

.l-header__logo a {
  color: black;
}

.c-nav__container button {
  border: none;
  background: none;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.black-nav button {
  color: white;
}

.black-nav a {
  color: white;
}

/*  header 끝 */

/* BODY */
.accordion-button:not(.collapsed) {
  background-color: #fff5cf !important;
}

.row {
  z-index: 1;
  position: relative;
}

.container {
  width: 78% !important;
  z-index: 1;
  position: relative;
}

.all .col-lg-3 {
  text-align: left;
  letter-spacing: -1px;
}

.all_title {
  color: rgb(179, 179, 179);;
  font-size: 12px;
  margin: 8px 0 6px;
}

.all_price {
  font-weight: 700;
}

.detail.container {
  margin-top: 50px;
  margin-bottom: 250px;
}

.detail.row {
  gap: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img {
  justify-content: flex-end;
  display: flex;
  flex: 7 !important;
}

.product-img img {
 width: 100%;

}

.product-info {
  text-align: left;
  flex: 3 !important;
  overflow-y: auto;
}

.detail_title {
  color: rgb(179, 179, 179);
}

.detail_content {
  font-weight: 700;
  font-size: 20px;
}

.detail_notice {
  white-space: pre-wrap;
  font-size: 12px;
  color: rgb(248, 126, 146);
  font-weight: 400;
}

.detail_explain {
  white-space: pre-wrap;
  font-size: 12px;
  text-align: left;
}

.detail_bottom {
  display: flex;
  gap: 50px;
}

.detail_price {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 20px;
}

.detail-btn-box {
  display: grid;
  gap: 5px;
}

.detail-1btn {
  width: 100%;
}

.detail-3btn {
  display: flex;
  gap: 5px;
  height: 40px;
}

.detail-3btn button{
  width: 100%;
  font-size: 12px;
}

.cart-list {
  display: flex !important;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.cart-list-img img {
  height: 200px;
}

.cart-list-text {
  text-align: left;
  display: grid;
  gap: 5px;
}

.cart-list-text span{
  color: grey;
  font-size: 12px;
}

.cart-list-count {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.cart-list-count button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: rgb(238, 237, 237);
}

.cart-list-count button > svg {
  width: 15px;
  height: 15px;
}

.cart-list-input {
  border: none;
  width: 32px;
  text-align: center;
}

.cart-pay-btn {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.cart-result {
  text-align: left;
}

.daumPostcode {
  background: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.postmodal > div > div {
  left: 0;
  top: 0;
  position: fixed !important;
  z-index: 999 !important;
}

.postmodal > div > div > iframe {
  top: 0 !important;
  pointer-events: all !important;
}

.join.container {
  margin-top: 100px;
}

.terms_form {
  margin-left: 100px;
  margin-right: 100px;
  flex-direction: column;
  display: flex;
}

.join .form {
  margin-left: 200px;
  flex-direction: column;
  display: flex;
}

.join .error {
  color: red;
}

.join .address {
  display: flex;
}

.join .mb-3 {
  position: relative;
  width: 300px;
  margin-left: 50px;
  margin-top: 30px;
}

.join .mb-3  input {
  font-size: 15px;
  color: #222222;
  width: 300px;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 5;
}

.join .mb-3  input::placeholder {
  color: #aaaaaa;
}

.join .mb-3  input:focus {
  outline: none;
}

.join .mb-3  span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0%;
  /* right로만 바꿔주면 오 - 왼 */
  background-color: #666;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

.join .mb-3  label {
  position: absolute;
  color: #aaa;
  left: 10px;
  font-size: 20px;
  bottom: 8px;
  transition: all .2s;
}

.join .mb-3 input:focus~label,
.join .mb-3  input:valid~label {
  font-size: 16px;
  bottom: 40px;
  color: #666;
  font-weight: bold;
}

.join .mb-3 input:focus~span,
.join .mb-3 input:valid~span {
  width: 100%;
}

.join .SMS {
  display: flex;
}

.join .phone-number-check {
  display: flex;
}

.form_content {
  flex: 1 1 auto;
}

@media(min-width: 768px){
  .form_section {
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 0;
    padding-left: 0;
  }
}

.form_section {
  padding: 0 20px;
}

.check_terms {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* padding-left: 32px; */
}

.terms_box {
  overflow: auto;
  box-sizing: border-box;
  max-height: 100px;
  margin: 9px 0 0 32px;
  padding: 15px;
  padding-top: 0;
  border-radius: 6px;
  border: 1px solid #d6d6d6;
}

.article {
  margin-top: 15px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -.43px;
  color: #767678;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.article_title {
  letter-spacing: -.38px;
  color: #303038;
}

.article_text {
  margin-top: 5px;
}

.form_content .section:nth-last-child(1) {
  margin: 0;
}

.form_content .section:nth-of-type(1) {
  margin: 0;
}

.blind {
  position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.check_terms label {
  display: inline-block;
  position: relative;
  margin-left: -32px;
  padding: 4px 0 4px 32px;
  vertical-align: middle;
}

.form_content label {
  cursor: pointer;
}

.form_content ul {
  list-style-type: none;
}

.form_content .form-check-input {
  height: 25px;
  width: 25px;
  margin-right: 5px;
  border-radius: 50% !important;
}

.terms_list {
  margin-top: 20px;
}

.terms_item {
  margin-bottom: 40px;
}

.terms_list em {
  margin-right: 5px;
  color: blue;
}

.form-btn-box {
  gap: 5px;
  display: flex;
  margin-left: 140px;
  margin-bottom: 20px;
}

.join-find-item {
  align-items: center;
  display: flex;
}


/* BODY 끝*/