body {
  font-family: Helvetica_Regular,Arial,sans-serif;
}

a {
  color: #000 !important;
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-bg {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.hero {
  height: 100vh;
  padding: 0;
  position: relative;
  width: 100vw;
}

.hero.-full {
  padding: 0;
}

.hero.-full>.main-video {
  aspect-ratio: auto;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.main-title {
  font-weight: bold;
}

.hero>.title {
  color: #fff;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.bold {
  font-family: Helvetica_Bold, Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1em;
}

@media(min-width: 1025px) {
  .hero>.title>h1 {
    font-size: 22.566px;
  }
}

.row {
  justify-content: center;
}

.col-md-3 {
  padding-left: 0 !important;
  padding-right: calc(var(--bs-gutter-x)* .1) !important;
}


.section:nth-of-type(n+2) {
  margin-top: 200px;
}

.section:nth-of-type(1) {
  margin-top: 800px;
}

.section:nth-last-child(2) {
  margin-top: 3px;
}

@media(min-width: 1025px) {
  .Goods {
    max-width: 240px !important;
  }

  .row:has(.Goods) {
    gap: 0 3px;
  }

  .Model {
    max-width: 505px !important;
  }
}



.coupon {
  border: 1px solid;
  width: 150px;
  margin: 0 auto;
}

.coupon dt {
  border-bottom: 1px solid;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: opacity 2s;
}

/* Footer */
.footer {
  text-align: left;
}

.footer ul {
  list-style: none;
}

.footer p, ul {
  margin: 0;
  padding: 0;
}

.footer a {
  text-decoration-line: none;
}

.l-site--homepage .c-video__cover img.u-ratio--16-9 {
  padding-top: 0;
}
@media (max-width: 47.99em) {
  .l-site--homepage .c-video__img.u-fullscreen@md {
  width: auto;
  max-width: none;
}
}

@media (min-width: 64em) {
  .c-backtotop {
    display: none;
    border: none;
    margin: auto;
    max-width: calc(100% - 25.625rem);
    padding: 0;
  }
}

@media (min-width: 48em) {
  .c-backtotop {
    font-size: .6875rem;
  }
}

.c-backtotop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: .6875rem;
  padding: 1.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height: 3.3125rem;
  line-height: .8125rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.c-backtotop__content {
  width: 100%;
}

@media (min-width: 64em) {
  .c-backtotop__iconlink {
    display: inline-block;
    width: auto;
  }
}

.c-backtotop__iconlink {
  background-color: #fff;
  border: none;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  padding: 0;
  line-height: .8125rem;
}

@media (min-width: 64em) {
  .c-backtotop__text {
    text-decoration: underline;
  }
}

@media (min-width: 64em) {
  .c-icon--longarrow-up {
    display: none;
  }
}

@media (min-width: 64em) {
  .l-footer__wrapper--light {
    border-top: 1px solid #eee;
  }
}

.l-footer__wrapper--light {
  background-color: #fff;
  color: #000;
}

@media (min-width: 64em) {
  .l-footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.25rem;
    margin: 0 !important;
  }
}

@media (min-width: 90em) {
  .l-footer__wrapper {
    padding: 1.875rem;
  }
}

@media (min-width: 48em) {
  .l-footer__wrapper {
    font-size: .6875rem;
  }
}

.l-footer__wrapper {
  margin: 0 5rem;
  font-size: .6875rem;
  line-height: .8125rem;
  text-transform: uppercase;
  position: relative;
}

.l-footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 90em) {
  .l-footer__section {
    -webkit-box-flex: 1;
    -ms-flex: 1 20%;
    flex: 1 20%;
  }
}

@media (min-width: 64em) {
  .c-storechoice__label {
    display: block;
  }
}

.l-footer__wrapper--light a {
  color: #000;
}

.u-sronly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}

@media (min-width: 48em) {
  .u-hidden-from\@md {
    display: none !important;
  }
}

.l-footer__wrapper .c-icon {
  padding-left: .59375rem;
}

.c-storechoice__content--language {
  margin-top: .6875rem;
}

@media (min-width: 64em) {
  .c-storechoice__label {
    display: block;
  }
}

.l-footer__wrapper--light a {
  color: #000;
}

.l-footer__section--clientservice ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.l-footer__title {
  display: none;
  white-space: nowrap;
}

@media (min-width: 64em) {
  .l-footer__networks .content-asset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (min-width: 64em) {
  .c-networks__link {
    display: inline-block;
  }
}

.c-networks__link {
  color: #000;
  font-size: .6875rem;
  line-height: .8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 .9375rem;
}

.c-networks__link img {
  height: .9375rem;
}

@media (min-width: 64em) {
  .u-hidden-from\@lg {
    display: none !important;
  }
}

.c-newsletter__subscribelink {
  color: unset;
  -webkit-appearance: none;
  border: 0;
  text-transform: inherit;
  background: none;
  width: auto;
  height: auto;
  padding: 0;
}

.l-footer__wrapper .c-icon {
  padding-left: .59375rem;
}

@media (min-width: 64em) {
  .c-popin.c-popin--newslettersubscribe {
    min-width: 21.25rem;
    overflow: auto;
  }
}

@media (min-width: 64em) {
  .c-deliverypopin, .c-popin--applepayterms, .c-popin--backinstock, .c-popin--bookappointment, .c-popin--countryselector, .c-popin--exchangestoreunavailable, .c-popin--findinstore, .c-popin--locale, .c-popin--minicart, .c-popin--mixbasket, .c-popin--newslettersubscribe, .c-popin--otherstyles, .c-popin--personalizationError, .c-popin--quantitylimitreach, .c-popin--quickview, .c-popin--quotaemployee, .c-popin--returnitems, .c-popin--returnorexchangemethods, .c-popin--returnorexchangeoutofstock, .c-popin--shippingerror, .c-popin--shippingnotavailable, .c-popin--sizeguide, .c-popin--topsearch, .c-popin--voc, .c-privacypolicypopin__popin {
    width: 30vw;
    padding-top: 0;
    z-index: 1021;
  }
}

@media (min-width: 48em) {
  .c-deliverypopin, .c-popin--applepayterms, .c-popin--backinstock, .c-popin--bookappointment, .c-popin--countryselector, .c-popin--exchangestoreunavailable, .c-popin--findinstore, .c-popin--locale, .c-popin--minicart, .c-popin--mixbasket, .c-popin--newslettersubscribe, .c-popin--otherstyles, .c-popin--personalizationError, .c-popin--quantitylimitreach, .c-popin--quickview, .c-popin--quotaemployee, .c-popin--returnitems, .c-popin--returnorexchangemethods, .c-popin--returnorexchangeoutofstock, .c-popin--shippingerror, .c-popin--shippingnotavailable, .c-popin--sizeguide, .c-popin--topsearch, .c-popin--voc, .c-privacypolicypopin__popin {
    min-width: unset;
    left: auto;
  }
}

.c-deliverypopin, .c-popin--applepayterms, .c-popin--backinstock, .c-popin--bookappointment, .c-popin--countryselector, .c-popin--exchangestoreunavailable, .c-popin--findinstore, .c-popin--locale, .c-popin--minicart, .c-popin--mixbasket, .c-popin--newslettersubscribe, .c-popin--otherstyles, .c-popin--personalizationError, .c-popin--quantitylimitreach, .c-popin--quickview, .c-popin--quotaemployee, .c-popin--returnitems, .c-popin--returnorexchangemethods, .c-popin--returnorexchangeoutofstock, .c-popin--shippingerror, .c-popin--shippingnotavailable, .c-popin--sizeguide, .c-popin--topsearch, .c-popin--voc, .c-privacypolicypopin__popin {
  width: 100%;
  -webkit-transform: translateX(110%);
  transform: translateX(110%);
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  padding-top: 3.5rem;
  z-index: 1011;
  position: fixed;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 48em) {
  .c-popin {
    width: 18.75rem;
  }
}

.c-popin, .c-popin [role=document] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.c-popin {
  padding: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
  position: fixed;
  top: auto;
  left: auto;
  right: auto;
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);
  opacity: 0;
  -webkit-transition: opacity .1s, -webkit-transform 0;
  transition: opacity .1s, -webkit-transform 0;
  transition: opacity .1s, transform 0;
  transition: opacity .1s, transform 0, -webkit-transform 0;
  min-height: auto;
  width: calc(100% - 2rem);
  min-width: 0;
  visibility: hidden;
}

@media (min-width: 48em) {
  [role=alertdialog], [role=dialog] {
    position: absolute;
    top: 2rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    min-width: 610px;
    min-height: auto;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, .12), 0 15px 12px rgba(0, 0, 0, .22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, .12), 0 15px 12px rgba(0, 0, 0, .22);
  }
}

[role=alertdialog], [role=dialog] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #000;
  background-color: #fff;
  min-height: 100vh;
}

.c-popin [role=document] {
  height: 100%;
}

.c-popin, .c-popin [role=document] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.c-deliverypopin .c-popin__title, .c-popin--applepayterms .c-popin__title, .c-popin--backinstock .c-popin__title, .c-popin--bookappointment .c-popin__title, .c-popin--countryselector .c-popin__title, .c-popin--exchangestoreunavailable .c-popin__title, .c-popin--findinstore .c-popin__title, .c-popin--locale .c-popin__title, .c-popin--minicart .c-popin__title, .c-popin--mixbasket .c-popin__title, .c-popin--newslettersubscribe .c-popin__title, .c-popin--otherstyles .c-popin__title, .c-popin--personalizationError .c-popin__title, .c-popin--quantitylimitreach .c-popin__title, .c-popin--quickview .c-popin__title, .c-popin--quotaemployee .c-popin__title, .c-popin--returnitems .c-popin__title, .c-popin--returnorexchangemethods .c-popin__title, .c-popin--returnorexchangeoutofstock .c-popin__title, .c-popin--shippingerror .c-popin__title, .c-popin--shippingnotavailable .c-popin__title, .c-popin--sizeguide .c-popin__title, .c-popin--topsearch .c-popin__title, .c-popin--voc .c-popin__title, .c-privacypolicypopin__popin .c-popin__title {
  font-size: .875rem;
  line-height: .9375rem;
}

.c-popin__title {
  font-size: .6875rem;
  font-family: Helvetica_Bold, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.c-deliverypopin [data-element=closebtn], .c-popin--applepayterms [data-element=closebtn], .c-popin--backinstock [data-element=closebtn], .c-popin--bookappointment [data-element=closebtn], .c-popin--countryselector [data-element=closebtn], .c-popin--exchangestoreunavailable [data-element=closebtn], .c-popin--findinstore [data-element=closebtn], .c-popin--locale [data-element=closebtn], .c-popin--minicart [data-element=closebtn], .c-popin--mixbasket [data-element=closebtn], .c-popin--newslettersubscribe [data-element=closebtn], .c-popin--otherstyles [data-element=closebtn], .c-popin--personalizationError [data-element=closebtn], .c-popin--quantitylimitreach [data-element=closebtn], .c-popin--quickview .c-product__close360, .c-popin--quickview [data-element=closebtn], .c-popin--quotaemployee [data-element=closebtn], .c-popin--returnitems [data-element=closebtn], .c-popin--returnorexchangemethods [data-element=closebtn], .c-popin--returnorexchangeoutofstock [data-element=closebtn], .c-popin--shippingerror [data-element=closebtn], .c-popin--shippingnotavailable [data-element=closebtn], .c-popin--sizeguide [data-element=closebtn], .c-popin--topsearch [data-element=closebtn], .c-popin--voc [data-element=closebtn], .c-privacypolicypopin__popin [data-element=closebtn] {
  top: .3125rem;
  right: .3125rem;
  padding: .9375rem;
  margin-top: -.3125rem;
  height: 2.625rem;
  width: 2.625rem;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

.c-popin--quickview .c-product__close360, [data-element=closebtn] {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  border: none;
  background: none;
  cursor: pointer;
}

.u-visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

@media (min-width: 64em) {
  .c-deliverypopin .c-popin__content, .c-popin--applepayterms .c-popin__content, .c-popin--backinstock .c-popin__content, .c-popin--bookappointment .c-popin__content, .c-popin--countryselector .c-popin__content, .c-popin--exchangestoreunavailable .c-popin__content, .c-popin--findinstore .c-popin__content, .c-popin--locale .c-popin__content, .c-popin--minicart .c-popin__content, .c-popin--mixbasket .c-popin__content, .c-popin--newslettersubscribe .c-popin__content, .c-popin--otherstyles .c-popin__content, .c-popin--personalizationError .c-popin__content, .c-popin--quantitylimitreach .c-popin__content, .c-popin--quickview .c-popin__content, .c-popin--quotaemployee .c-popin__content, .c-popin--returnitems .c-popin__content, .c-popin--returnorexchangemethods .c-popin__content, .c-popin--returnorexchangeoutofstock .c-popin__content, .c-popin--shippingerror .c-popin__content, .c-popin--shippingnotavailable .c-popin__content, .c-popin--sizeguide .c-popin__content, .c-popin--topsearch .c-popin__content, .c-popin--voc .c-popin__content, .c-privacypolicypopin__popin .c-popin__content {
    padding: 0 1.25rem 1.25rem;
  }
}

.c-deliverypopin .c-popin__content, .c-popin--applepayterms .c-popin__content, .c-popin--backinstock .c-popin__content, .c-popin--bookappointment .c-popin__content, .c-popin--countryselector .c-popin__content, .c-popin--exchangestoreunavailable .c-popin__content, .c-popin--findinstore .c-popin__content, .c-popin--locale .c-popin__content, .c-popin--minicart .c-popin__content, .c-popin--mixbasket .c-popin__content, .c-popin--newslettersubscribe .c-popin__content, .c-popin--otherstyles .c-popin__content, .c-popin--personalizationError .c-popin__content, .c-popin--quantitylimitreach .c-popin__content, .c-popin--quickview .c-popin__content, .c-popin--quotaemployee .c-popin__content, .c-popin--returnitems .c-popin__content, .c-popin--returnorexchangemethods .c-popin__content, .c-popin--returnorexchangeoutofstock .c-popin__content, .c-popin--shippingerror .c-popin__content, .c-popin--shippingnotavailable .c-popin__content, .c-popin--sizeguide .c-popin__content, .c-popin--topsearch .c-popin__content, .c-popin--voc .c-popin__content, .c-privacypolicypopin__popin .c-popin__content {
  padding: 0 1.25rem 2.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
}

.c-popin__content {
  padding: 0 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 64em) {
  .l-footer__section--appredirection {
    display: none;
  }
}

.l-footer__section--appredirection .l-footer__appredirection span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.c-redirection__item {
  display: inline-block;
  position: relative;
  bottom: -.375rem;
  margin: 0 .9375rem;
  height: .6875rem;
}

.c-redirection__item img {
  display: block;
  height: 100%;
  aspect-ratio: 10 / 12;
}

.c-redirection__item:last-child {
  margin-right: 0;
}

@media (min-width: 64em) {
  [data-context=FOOTER] .c-apacmessage {
    padding: 0;
    font-size: .6875rem;
    border: none;
  }
}

.c-apacmessage {
  font-size: .6875rem;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
  padding: .8125rem 0;
}

.c-footerspecific {
  position: relative;
}

@media (min-width: 48em) {
  .c-footerspecific .content-asset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.c-footerspecific .content-asset {
  font-size: .6875rem;
  line-height: .6875rem;
  padding: 1.25rem;
  text-transform: uppercase;
}

@media (min-width: 48em) {
  .c-footerspecific__block:first-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-bottom: 0;
  }
}

.c-footerspecific__block:first-child {
  padding-bottom: 1.25rem;
}

.c-countryselector {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  position: fixed;
}

.c-countryselector, .c-popin--countryselector, .c-popin--otherstyles {
  overflow: hidden;
}

.c-countryselector__close {
  top: .625rem;
}

.c-popin--quickview .c-product__close360, [data-element=closebtn] {
  top: .3125rem;
  right: .3125rem;
  padding: .9375rem;
  height: 2.4375rem;
  width: 2.4375rem;
}

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button;
}

.u-visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

@media (min-width: 64em) {
  .l-header__logo {
    width: 12.8125rem;
  }
}

@media (min-width: 48em) {
  .l-header__logo {
    width: 12rem;
  }
}

.l-header__logo {
  display: block;
  width: 12rem;
}

.l-header__logo .l-header__link {
  display: block;
}

.c-countryselector__logo a {
  color: #fff;
}

.c-countryselector__logo a img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.l-header__logo img {
  display: block;
  padding: 1.25rem;
  width: 100%;
}

@media (min-width: 64em) {
  .c-popin__head {
    padding: 1.25rem 1.25rem .6875rem;
  }
}

.c-popin__head {
  padding: 4rem 1.25rem .6875rem;
}

@media (min-width: 64em) {
  .c-countryselector__title {
    width: 66%;
    margin: 0 auto;
  }
}

.c-countryselector__title {
  font-size: .875rem;
  font-family: Helvetica_Bold, Arial, sans-serif;
  font-weight: 700;
  line-height: .9375rem;
  text-transform: uppercase;
}

@media (min-width: 64em) {
  .c-countryselector__wrapper {
    max-height: calc(100vh - 3.5rem);
  }
}

@media (min-width: 48em) {
  .c-countryselector__wrapper {
    padding-top: .625rem;
  }
}

.c-countryselector__wrapper {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.25rem;
  overflow: auto;
  max-height: calc(100vh - 6.0625rem);
}

.c-popin__content {
  padding: 0 1.25rem;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 64em) {
  .c-countryselector__innercontent {
    width: 66%;
  }
}

.c-countryselector__innercontent {
  width: 100%;
}

@media (min-width: 48em) {
  .c-popin__innercontent {
    font-size: .6875rem;
  }
}

.c-popin__innercontent {
  font-size: .6875rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
}

@media (min-width: 48em) {
  .c-countryselector__message {
    max-width: 60%;
    font-size: .6875rem;
  }
}

.c-countryselector__message {
  font-size: .6875rem;
  line-height: .6875rem;
  margin-bottom: 1.0625rem;
}

@media (min-width: 48em) {
  .c-countryselector__countries {
    font-size: .6875rem;
    height: 20rem;
    margin-bottom: 0;
  }
}

.c-countryselector__countries {
  width: auto;
  font-size: .6875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 1.9375rem;
}

.c-countryselector__selectlabel {
  font-family: Helvetica_Bold, Arial, sans-serif;
  font-weight: 700;
  margin-top: 1.1875rem;
}

.c-countryselector__select {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF8AAAAuCAYAAABOMsWRAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAZdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuMTM0A1t6AAACB0lEQVR4Xu2UDW7DIAyFe58ddofZAbO+KiCHPDUhBmMSW/rU9RUb/LfXsizBIKgY2EDFwAYqrvy8+V0/2e/BMV9ruBNWcPjvDQyf0YB6Dmu4+SJAt6TBObbgHKgRapUKnwza5uzmy4rsWGm0g0GmqnbSMVFOfWkIEluwBbVg017apgEsyFGAZLtOPpSamsHyvx9NEBjOP3ULkPOZaS8tD60MhkBX7WlNuDKo0j7T3zIgLHf1piC3K9MuLdeoV/C7bUGXupSXJHBAcxEM/ndoQLdabL4U4PCTt6B7/juBAEfNA2Dwn6kBJjlTkYAgT9gC0zyp+AUE1DwMBn+PDTDPjYoHIPidtmBYPlQ8CS7SPBgG/5ENGJoDFSvApTNugYt3U/ECrZKxaADu0LwT1uStVFSgTQy+vbYAMYdPu4SKSlol2bIBiOWm6AkqNsJDwvD1NggZKjZkZPLw0d7bfNolVOyAZSFwxu20S6jYCYui4Ddt/K7TLqFiZ3oUCH9PMe0SKhrQslhAG8ds2iVUNKRF4bT+5kVPUNEYJK/dglrDXUOmXULFQWi34KwNnXYJFQfScwtcTLuEig5ovQVupl1CRSe02AJ30y6hojOuboHLaZdQ0SE1W+B62iVUdMxRE9xPu4SKE4ACywZMM+0SKk5C2oLpip6gYmADFQMbqBjYQMXABioGFiyvfxGlsG9B1tUaAAAAAElFTkSuQmCC);
  background-color: #000;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: .6875rem;
  line-height: .6875rem;
  background-repeat: no-repeat;
  background-position: calc(100% - .125rem) 50%;
  background-size: .625rem;
}

@media (min-width: 48em) {
  .c-form__select {
    font-size: .6875rem;
  }
}

.c-form__select {
  display: block;
  width: 100%;
  font-size: .6875rem;
  line-height: .6875rem;
  text-transform: uppercase;
  height: 1.4375rem;
  line-height: 1.25rem;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOS4wOSAxTDQuNTQ1IDQuNTkgMCAxIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iLjgiIGZpbGw9Im5vbmUiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: .5rem;
  border: none;
  border-bottom: 1px solid #000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  padding: .1875rem .9375rem .1875rem .1875rem;
  margin: -.1875rem 0 0;
  color: #000;
}

.c-countryselector__notice {
  margin-bottom: .625rem;
}

/* footer 끝 */

